:root {
    --light: darkgoldenrod;
    --dark: #01180f; 
}
* {
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}
button {
    background-color: var(--dark);
    border: none;
    border-radius: 5px;
    align-content: center;
    text-align: center;
    color: var(--light);
    padding: 10px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

h1, h2, p {
    color: darkgoldenrod;
    text-align: center;
}

li {
    padding: 3px;
    margin: 8px;
    list-style: none;
    align-content: center;
}

.score-count {
    color:  darkgoldenrod;
    background-color: var(--dark );
    font-size: 125%;
}

.timer-text {
    font-size: 125%;
    color: darkgoldenrod;
    background-color: #3d7762;
    border-radius: 3px;
    text-align: right;
    padding: 5px;
}

.hide {
    display: none;
}

.high-scores-container {
    display: none;
    height: 100%;
}  

#timer-count {
    text-align: right;
    
}




